.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin:0;
}

.App-content {
  height: 100%;
  text-align:center;
  padding: 4rem;
  font-size: 2rem;;
}

@media (min-width: 650px ) {
  .App {
      background-position: center center;
  }

  .App-content {
      align-items: flex-end;
      justify-content: center;
  }
}